{% if site.logo %}
   <a id="blog-logo" href="{{ site.url }}">
    <img src="{{ site.baseurl }}{{ site.logo }}" alt="Blog Logo" />
   </a>
{% endif %}
<h1 class="blog-title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
<h2 class="blog-description">{{ site.description }}
    | <a href='{{ site.baseurl }}/blog/'>Blog</a> | <a href="http://github.com/harlanhaskins"> Projects </a> | <a href='{{ site.baseurl }}/files/Resume.pdf'> Resume </a> | <a href="mailto:harlan@harlanhaskins.com">Contact</a>
</h2>
